src/gov/nih/nci/caIMAGE/util/calcrgn.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT Catalog (Image)>
<!ATTLIST Catalog
	name CDATA #REQUIRED
>
<!ELEMENT Image EMPTY>
<!ATTLIST Image
	rgn CDATA #REQUIRED
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
	parent CDATA #REQUIRED
	numlevels CDATA #REQUIRED
	colorspace CDATA #REQUIRED
>
<!ELEMENT ImageServer (Request, Response)>
<!ATTLIST ImageServer
	host CDATA #REQUIRED
	path CDATA #REQUIRED
	xmlns:LizardTech CDATA #REQUIRED
>
<!ELEMENT Parameter (#PCDATA)>
<!ATTLIST Parameter
	name (cat | hei | img | style | wid) #REQUIRED
>
<!ELEMENT Request (Parameter+)>
<!ATTLIST Request
	command CDATA #REQUIRED
>
<!ELEMENT Response (Catalog)>
